<!-- Contacts Info -->
<div class="section contacts">
    <div class="content">
        <div class="title">
            <div class="title_inner">Contacts</div>
        </div>
        <div class="service-items">
            <div class="service-item">
                <div class="icon"><span class="ion ion-android-phone-portrait"></span></div>
                <div class="name">Phone</div>
                <p>
                    +1 (805) 666 1429
                </p>
            </div>
            <div class="service-item">
                <div class="icon"><span class="ion ion-email"></span></div>
                <div class="name">Email</div>
                <p>
                    <a href="mailto:andrew@c-andrew.com">andrew@c-andrew.com</a>
                </p>
            </div>
            <!-- <div class="service-item">
                    <div class="icon"><span class="ion ion-ios-location"></span></div>
                    <div class="name">Address</div>
                    <p>
                        2621 W Pico Blvd, Los Angeles
                    </p>
                </div> -->
        </div>
        <div class="contact_form">
            <form id="cform" method="post">
                <div class="group-val">
                    <input type="text" name="name" placeholder="Name" />
                </div>
                <div class="group-val">
                    <input type="text" name="email" placeholder="Email" />
                </div>
                <div class="group-val ct-gr">
                    <textarea name="message" placeholder="Message"></textarea>
                </div>
                <a href="#" class="btn fill" onclick="$('#cform').submit(); return false;" data-text="Send Message">Send Message</a>
            </form>
            <div class="alert-success">
                <p>
                    Thanks, your message is sent successfully. We will contact you shortly!
                </p>
            </div>
        </div>
    </div>
</div>

</div>