<footer>
    <div class="soc">
        <a target="_blank" href="https://linkedin.com/in/c-andr3w"><span class="ion ion-social-linkedin"></span></a>
        <!-- <a target="_blank" href="https://twitter.com/"><span class="ion ion-social-twitter"></span></a> -->
        <a target="_blank" href="https://github.com/x-candy6"><span class="ion ion-social-github"></span></a>
        <!-- <a target="_blank" href="https://www.instagram.com/"><span class="ion ion-social-instagram-outline"></span></a> -->
    </div>
    <div class="copy">c-andrew</div>
    <div class="clr"></div>
</footer>