<div class="wrapper">

    <!-- Started -->
    <div class="section started">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <div class="h-title glitch-effect" data-text="{{page.headline}}">{{page.headline}}</span></div>
                    <div class="h-subtitle typing-subtitle">
                        {% for text in page.text %}
                        <p>{{text}}</p>
                        {% endfor %}
                    </div>
                    <span class="typed-subtitle"></span>
                </div>
            </div>
        </div>
    </div>

</div>