<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Load Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300italic,300,100italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet'>

    <!-- CSS -->
    {% include css_import.html %}
    <!--
		Template RTL
	-->
    <!--<link rel="stylesheet" href="css/rtl.css" />-->

    <!--
		Template Colors
	-->
    <!-- <link rel="stylesheet" href="css/template-colors/orange.css" /> -->
    <!-- <link rel="stylesheet" href="css/template-colors/blue.css" /> -->
    <!--<link rel="stylesheet" href="css/template-colors/green.css" />-->
    <!--<link rel="stylesheet" href="css/template-colors/pink.css" />-->
    <!--<link rel="stylesheet" href="css/template-colors/purple.css" />-->
    <!--<link rel="stylesheet" href="css/template-colors/red.css" />-->

    <!--
		Template Dark
	-->
    <link rel="stylesheet" href="css/template-dark/dark.css" />


    <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicons/favicon.ico">

</head>

<body>
    {% include preloader.html %}


    <!-- Container -->
    <div class="container">
        {% include navigation.html %}
        {% include home.html %}
    </div>


    {% include js_import.html %}
</body>

</html>